@media (min-width: 300px) and (max-width: 579px) {
    #about-projects > .about-block-description {
        margin-top: 0px;
    }

    .name-of-first-block, .name-of-second-block, .name-of-third-block, #about-paragraph, #landing-paragraph, #js-paragraph {
        font-size: 10px;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .name-of-third-block, .name-of-third-block::before, .third-block-title, .third-block-title-active {
        display: flex;
        align-items: flex-end;
    }

    .name-of-first-block, .name-of-second-block, .name-of-third-block {
        padding: 7px 5px;
    }

    .first-block-title, .second-block-title {
        height: 25px;
        border-radius: 5px 5px 0px 0px;
    }

    #second-block {
        margin-top: 5px;
    }

    .third-block-title {
        height: 25px;
        border-radius: 5px;
        height: 20px;
    }

    #third-block {
        display: flex;
        justify-content: center;
    }

    .scroll-pase-third-block {
        transform: translateY(4px);
    }

    .scroll-pase {
        transform: translateY(-7px);
    }

    .main-introduce-size-active {
        height: 300px; 
        transform: translateY(-17px);
    }
    
    .about-projects-size-active {
        height: 225px;
        transform: translateY(-17px);
    }

    #landing-line, #js-line {
        height: 1px;
    }

    .f-slider-item > img, .slider-item > img, .f-slider-item, .slider-item, .project-desc {
        height: 50px;
        width: 50px;
        border-radius: 5px;
    }

    .project-desc {
        font-size: 10px;
    }

    .project-desc > span {
        display: none;
    }

    .project-desc > button {
        font-size: 10px;
        width: 40px;
        height: 17px;
        border-radius: 5px;
        margin-top: 5px;
    }

    .project-desc > button:hover {
        width: 45px;
        border: 5px;
    }

    .left-arrow > img, .right-arrow > img, .second-right-arrow > img, .second-left-arrow > img {
        width: 20px;
        height: 20px;
    }

    .about-me > p {
        font-size: 9px;
        padding-right: 10px;
        transform: translatey(-8px);
    }

    #image-block > img {
        height: 100px;
        border-radius: 5px;
    }

    #image-block {
        height: 100%;
        width: 120px;
    }

    #main_introduce, #about-projects {
        border-radius: 5px;
    }

    .main-introduce-size-active {
        height: 110px;
    }

    .boring-information {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        position: absolute;
        transform: translate(-10px, 110px);
        width: 40%;
        height: 10px;
        box-shadow: none;
        font-size: 8px;
    }

    .boring-paragraph-active {
        transform: translate(-93px, -15px);
        grid-template-rows: 80px;
        font-size: 6px;
        column-gap: 0px;
    }

    .boring-information > img { 
        display: none;
    }

    .boring-information-active {
        height: 0px;
    }

    .contacts > img {
        width: 20px;
        height: 20px;
        border-radius: 7px;
        margin-right: 10px;
    }
    
    .images-block {
        margin: 8px 0%;
    }

    #first-block {
        margin: 16px 2% 0 2%;
    }

    #second-block {
        margin: 0px 2% 0 2%;
    }

    #third-block {
        margin: -30px 2% 0 2%
    }
    
    .first-block-title, .third-block-title-active {
        margin-left: 66%;
        width: 30%;
    }

    .block-width {
        width: 96%;
    }

    #first-block > .scroll-pase, .scroll-pase-third-block {
        width: 75%;
    }

    .scroll-pase, .scroll-pase-third-block {
        height: 2px;
    }
}

@media (min-width: 580px) and (max-width: 799px) {
    #main_introduce, #about-projects {
        border-radius: 7px;
    }

    .name-of-first-block, .name-of-second-block, .name-of-third-block, #about-paragraph, #landing-paragraph, #js-paragraph {
        font-size: 17px;
    }

    #about-paragraph, #landing-paragraph, #js-paragraph {
        margin-bottom: 10px;
    }

    .name-of-third-block {
        transform: translateY(15px);
    }

    .first-block-title, .second-block-title {
        height: 35px;
        border-radius: 7px 7px 0px 0px;
    }

    #second-block {
        margin-top: 15px;
    }

    .third-block-title {
        height: 35px;
        border-radius: 7px;
    }

    #third-block {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .scroll-pase-third-block {
        transform: translateY(9px);
    }

    .scroll-pase {
        transform: translateY(-5px);
    }

    .main-introduce-size-active {
        height: 300px;
        transform: translateY(-10px);
    }
    
    .f-slider-item > img, .slider-item > img, .f-slider-item, .slider-item, .project-desc {
        height: 90px;
        width: 90px;
        border-radius: 7px;
    }

    .project-desc {
        font-size: 15px;
    }

    .project-desc > span {
        display: none;
    }

    .project-desc > button {
        font-size: 15px;
        width: 60px;
        height: 22px;
        border-radius: 7px;
    }

    .project-desc > button:hover {
        width: 80px;
        border: 10px;
    }

    .left-arrow > img, .right-arrow > img, .second-right-arrow > img, .second-left-arrow > img {
        width: 50px;
        height: 50px;
    }

    .about-projects-size-active {
        height: 350px;
        transform: translateY(-10px);
    }

    #image-block > img {
        height: 150px;
    }

    #image-block {
        height: 100%;
        width: 185px;
    }

    .main-introduce-size-active {
        height: 175px;
    }

    .boring-information {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        position: absolute;
        transform: translate(-10px, 170px);
        width: 40%;
        box-shadow: none;
        font-size: 10px;
    }

    .boring-paragraph-active {
        transform: translate(-70px, -25px);
        grid-template-rows: 80px;
        font-size: 7px;
        column-gap: 3px;
    }

    .boring-information > img { 
        display: none;
    }

    .boring-information-active {
        height: 0px;
    }

    .contacts > img {
        width: 30px;
        height: 30px;
        border-radius: 7px;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .project-desc {
        font-size: 20px;
    }

    .project-desc > button {
        font-size: 20px;
        width: 80px;
        height: 30px;
        margin-top: 5px;
    }

    #about-paragraph, #landing-paragraph, #js-paragraph {
        margin-bottom: 10px;
    }

    .name-of-third-block {
        transform: translateY(15px);
    }

    .project-desc > span {
        font-size: 13px;
        padding: 0px 2px;
    }

    .project-desc > button:hover {
        width: 110px;
        border: 20px;
    }

    .f-slider-item > img, .slider-item > img, .f-slider-item, .slider-item, .project-desc {
        height: 120px;
        width: 120px;
    }

    .about-projects-size-active {
        height: 430px;
    }

    .boring-paragraph-active {
        transform: translate(10px, 50px);
        font-size: 9px;
    }

    #image-block > img {
        height: 150px;
    }

    #image-block {
        height: 100%;
        width: 220px;
    }

    .main-introduce-size-active {
        height: 200px;
    }

    .boring-information {
        width: 75%;
    }

    .boring-information-active {
        height: 70px;
    }

    .contacts > img {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .project-desc > button {
        margin-top: 5px;
    }

    #about-paragraph, #landing-paragraph, #js-paragraph {
        margin-bottom: 10px;
    }

    .name-of-third-block {
        transform: translateY(15px);
    }

    .f-slider-item > img, .slider-item > img, .f-slider-item, .slider-item, .project-desc {
        height: 150px;
        width: 150px;
    }

    .about-projects-size-active {
        height: 560px;
    }

    .boring-paragraph-active {
        transform: translateY(30px);
        font-size: 12px;
    }

    #image-block > img {
        height: 200px;
    }

    #image-block {
        height: 100%;
        width: 240px;
    }

    .main-introduce-size-active {
        height: 250px;
    }

    .boring-information-active {
        height: 100px;
    }

    .contacts > img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1340px) and (max-width: 1440px) {
    #first-block, #second-block, #third-block {
        margin: 27px 10% 0 10%;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 56%;
        width: 24%;
    }

    .block-width {
        width: 80%;
    }

    .boring-paragraph-active {
        transform: translateY(20px);
        font-size: 15px;
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 62%;
    }
}

@media (min-width: 1441px) and (max-width: 1540px) {
    #first-block, #second-block, #third-block {
        margin: 27px 10% 0 10%;
    }
    
    .first-block-title, .third-block-title-active {
        margin-left: 55%;
        width: 25%;
    }

    .block-width {
        width: 80%;
    }

    .boring-paragraph-active {
        font-size: 16px;
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 62%;
    }
}

@media (min-width: 1541px) and (max-width: 1900px) {
    #first-block, #second-block, #third-block {
        margin: 27px 12vw 0 12vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 53vw;
        width: 23vw;
    }

    .block-width {
        width: 76vw;
    }

    .boring-paragraph-active {
        font-size: 17px;
    }

    .block-width {
        width: 76%;
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 58vw;
    }
}

@media (min-width: 1901px) and (max-width: 2000px) {
    #first-block, #second-block, #third-block {
        margin: 27px 17vw 0 17vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 46vw;
        width: 20vw;
    }

    .block-width {
        width: 66vw;
    }

    .boring-paragraph-active {
        font-size: 18px;
        transform: translateY(-10px);
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 48vw;
    }
}

@media (min-width: 2001px) and (max-width: 2300px) {
    #first-block, #second-block, #third-block {
        margin: 27px 19vw 0 19vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 43vw;
        width: 19vw;
    }

    .block-width {
        width: 62vw;
    }

    .boring-paragraph-active {
        font-size: 18px;
        transform: translateY(-10px);
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 44vw;
    }
}

@media (min-width: 2301px) and (max-width: 2570px) {
    #first-block, #second-block, #third-block {
        margin: 27px 22vw 0 22vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 39vw;
        width: 17vw;
    }

    .block-width {
        width: 56vw;
    }

    .boring-paragraph-active {
        font-size: 18px;
        transform: translateY(-10px);
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 39vw;
    }
}

@media (min-width: 2571px) and (max-width: 3800px) {
    #first-block, #second-block, #third-block {
        margin: 27px 25vw 0 25vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 35vw;
        width: 15vw;
    }

    .block-width {
        width: 50vw;
    }

    .boring-paragraph-active {
        font-size: 18px;
        transform: translateY(-10px);
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 36vw;
    }
}

@media (min-width: 3801px) {
    #first-block, #second-block, #third-block {
        margin: 27px 35vw 0 35vw;
    }

    .first-block-title, .third-block-title-active {
        margin-left: 21vw;
        width: 9vw;
    }

    .block-width {
        width: 30vw;
    }

    .boring-paragraph-active {
        font-size: 16px;
    }

    .scroll-pase-third-block, #first-block > .scroll-pase {
        width: 16vw;
    }
}